.cover__subtitle {
margin: 32px auto 245px;
padding: 0;
text-align: center;
z-index: 5;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
      margin-bottom: 195px;
    }
  }

@media screen and (max-width: 768px) {
    .cover__subtitle {
      margin-bottom: 115px;
    }
  }

@media screen and (max-width: 424px) {
    .cover__subtitle {
      margin: 16px auto 33px;
      font-size: 14px;
      line-height: 16px;
    }
  }