.header {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    max-width: 1184px;
    margin: 28px 48px 0;
  }

  @media screen and (max-width: 728px) {
    .header {
      margin: 28px 24px 0;
    }
  }

@media screen and (max-width: 320px) {
  .header {
    min-width: 288px;
    margin: 16px 16px 0;
  }
}
